@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    -fx-font-family: 'Open Sans', sans-serif;
}


#output-label {
     -fx-font-size: 36px;
     -fx-font-weight: normal;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
-fx-font-size: 25px;
-fx-background-radius: 4em;
                -fx-min-width: 60px;
                -fx-min-height: 60px;
                -fx-max-width: 60px;
                -fx-max-height: 60px;
}


#cancel-button {
-fx-font-size: 25px;
-fx-background-radius: 4em;
                -fx-min-width: 60px;
                -fx-min-height: 60px;
                -fx-max-width: 300px;
                -fx-max-height: 60px;
}



