@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-background-color: transparent;
}


#output-label {
     -fx-font-size: 45px;
     -fx-background-radius: 13;
     -fx-background-color: #AFAFAF;

}

#auxiliary-label {
/* -fx-border-style: line; */
-fx-font-size: 10px;
-fx-background-radius: 13;
-fx-background-color: #EAEAEA;
}

.button {
-fx-background-color: #DFDCDC;
-fx-font-size: 20px;
-fx-text-overflow: clip;
-fx-background-radius: 4em;
                -fx-min-width: 50px;
                -fx-min-height: 50px;
                -fx-max-width: 50px;
                -fx-max-height: 50px;
}


#cancel-button {
-fx-font-size: 25px;
-fx-background-radius: 4em;
                -fx-min-width: 50px;
                -fx-min-height: 50px;
                -fx-max-width: 300px;
                -fx-max-height: 50px;
}

#delete-button {
-fx-font-size: 15px;
-fx-text-align: center;
-fx-display: flex;
}

#negative {
-fx-font-size: 19px;
-fx-text-align: center;
-fx-display: flex;
}

#operator {
-fx-background-color: #F9BDBD;
}





